language: node_js

node_js:
  - 0.12
  
env:
    global:
        - GIT_NAME=ange007
        - GIT_EMAIL=ange007@users.noreply.github.com
        - GIT_DOMAIN=github.com
        - REPO_URL=https://${OAuth}@${GIT_DOMAIN}/${TRAVIS_REPO_SLUG}.git

# @todo: Попробовать реализовать скриншот демо страницы:
# https://github.com/GregM/xvfb-screenshots/blob/master/README.md
# https://atasteofsandwich.wordpress.com/2014/05/04/visual-regression-tests-with-travis-ci-and-github/
# 
# before_install:
#  - export CHROME_BIN=chromium-browser
#  - export DISPLAY=:99.0
#  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install -g gulp

script: 
  - gulp clean && gulp build && gulp build:min

after_success: 
  - git config --global user.name "${GIT_NAME}"
  - git config --global user.email "${GIT_EMAIL}"
  # - chmod +x ${TRAVIS_BUILD_DIR}/.travis-ghpages-commit.sh
  # - chmod +x ${TRAVIS_BUILD_DIR}/.travis-release-commit.sh
  - ${TRAVIS_BUILD_DIR}/.travis-ghpages-commit.sh
  - ${TRAVIS_BUILD_DIR}/.travis-release-commit.sh

deploy:
  provider: releases
  api_key: $OAuth
  file:
    - ${TRAVIS_BUILD_DIR}/build/jquery.formStylerModern.js
    - ${TRAVIS_BUILD_DIR}/build/jquery.formStylerModern.css
    - ${TRAVIS_BUILD_DIR}/build/min/jquery.formStylerModern.min.js
    - ${TRAVIS_BUILD_DIR}/build/min/jquery.formStylerModern.css
  skip_cleanup: true
  on:
    repo: ange007/JQueryFormStyler-Modern
    branch: master
    tags: true

sudo: false

cache:
  directories:
    - node_modules
