
.jq-number__field {
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
}

.jq-number__field:hover {
	border-color: #B3B3B3;
}

.jq-number__field input {
	color: #333;
}

.jq-number__spin {
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #F5F5F5;
	background: linear-gradient(#FFF, #E6E6E6);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	text-shadow: 1px 1px #FFF;
}

.jq-number__spin:hover {
	background: #E6E6E6;
	background: linear-gradient(#F6F6F6, #E6E6E6);
}

.jq-number__spin:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}

.jq-number__spin:after {
	border-right: 5px solid transparent;
	border-bottom: 5px solid #999;
	border-left: 5px solid transparent;
}

.jq-number__spin.minus:after {
	border-top: 5px solid #999;
	border-right: 5px solid transparent;
	border-bottom: none;
	border-left: 5px solid transparent;
}

.jq-number__spin.minus:hover:after {
	border-top-color: #000;
}

.jq-number__spin.plus:hover:after {
	border-bottom-color: #000;
}

.jq-number.focused .jq-number__field {
	border: 1px solid #5794BF;
}

.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}

.jq-number.disabled .jq-number__spin:after {
	border-bottom-color: #AAA;
}

.jq-number.disabled .jq-number__spin.minus:after {
	border-top-color: #AAA;
}