
.jq-selectbox__select {
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #F5F5F5;
	background: linear-gradient(#FFF, #E6E6E6);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	color: #333;
	font: 14px/32px Arial, sans-serif;
	text-shadow: 1px 1px #FFF;
}

.jq-selectbox__select:hover {
	background: #E6E6E6;
	background: linear-gradient(#F6F6F6, #E6E6E6);
}

.jq-selectbox__select:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}

.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #5794BF;
}

.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}

.jq-selectbox .placeholder {
	color: #888;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top-color: #000;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}

.jq-selectbox__dropdown {
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	font: 14px/18px Arial, sans-serif;
}

.jq-selectbox__trigger {
	border-left: 1px solid #CCC;
}

.jq-selectbox__trigger-arrow {
	border-top: 5px solid #999;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.jq-selectbox__search input {
	border: 1px solid #CCC;
	border-radius: 3px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
}

.jq-selectbox__not-found {
	background: #F0F0F0;
}

.jq-selectbox__dropdown li:first-child {
  border-radius: 4px 4px 0px 0px; 
}

.jq-selectbox__dropdown li:last-child {
  border-radius: 0px 0px 4px 4px; 
}

.jq-selectbox li {
	color: #231F20;
}

.jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}

.jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}

.jq-selectbox li.disabled {
	color: #AAA;
}

.jq-selectbox li.disabled:hover {
	background: none;
}

.jq-selectbox li.optgroup {
	font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}