
.jq-checkbox {
	@include base-element( );
	
	border-radius: $checkbox-radius;

	&.checked .jq-checkbox__div,
	&.indeterminate .jq-checkbox__div {
		border-radius: $checkbox-radius-checked;
		background: $radio-checkbox-checked-bg;
		box-shadow: inset 0 -3px 6px #AAA;
	}

	&.focused {
		border: $border-focus;
	}
}