
.jq-file {
	@include base-element( false );	
	
	.jq-file__browse {
		@include base-element( true );	
			
		border: none;
		border-left: 1px solid #CCC;
		border-radius: 0 4px 4px 0;
		
		&:not([disabled]):not(.disabled):hover {
			border-top: none;
			border-bottom: none;
			border-right: none;
		}
		
		&:not([disabled]):not(.disabled):active {
			border-top: none;
			border-bottom: none;
			border-right: none;
		}
		
		&:not([disabled]):not(.disabled):focus,
		&:not([disabled]):not(.disabled).focused {
			border-top: none;
			border-bottom: none;
			border-right: none;
		}
	}
	
	&:not([disabled]):not(.disabled):active {
		background: none;
	}
	
	&:not([disabled]):not(.disabled):hover .jq-file__browse {
		background: $background-button-hover;
		box-shadow: $box-shadow-button-hover;
	}

	&:not([disabled]):not(.disabled):active .jq-file__browse {
		background: $background-button-active;
		box-shadow: $box-shadow-button-active;	
	}

	&:not([disabled]):not(.disabled):active,
	&:not([disabled]):not(.disabled):focus,
	&:not([disabled]):not(.disabled).focused {
		background: $background;
	}

	&.disabled,
	&.disabled .jq-file__name,
	&.disabled .jq-file__browse {
		border: $border-disabled;
		background: $background-disabled;
		box-shadow: none;
		color: $color-disabled;
	}
}