@mixin base-element( ) {
	color: $color;
	border: $border;
	border-radius: $border-radius;
	
	background: $background;	
	box-shadow: $box-shadow;
	font-shadow: $font-shadow;

	&:hover {
		border: $border-hover;
		background: $background-hover;
		box-shadow: $box-shadow-hover;
		font-shadow: $font-shadow-hover;
	}
	
	&:focus {
		border: $border-focus;
	}
	
	&:active {
		/* border: $border-active; */
		background: $background-active;
		box-shadow: $box-shadow-active;
		font-shadow: $font-shadow-active;
	}
}

@mixin button( $background, $color, $border, $lighten ) {
	color: $color;
	background-color: $background;

	@if( $lighten ) {
		border-color: $border;
		
		&:hover {
			color: lighten( $color, 5% );
			background-color: lighten( $background, 5% );
			border-color: lighten( $border, 20% );
		}
		&:focus {
			color: lighten( $color, 5% );
			background-color: lighten( $background, 10% );
			border-color: lighten( $border, 20% );
		}
		&:active {
			color: lighten( $color, 5%);
			background-color: lighten( $background, 10% );
			border-color: lighten( $border, 20% );
		}
	}
	@else {
		border-color: darken( $background,5% );
		&:hover {
			color: darken( $color, 5%);
			background-color: darken( $background,5% );
			border-color: darken( $border,10% );
		}
		&:focus {
			color: darken( $color, 5%);
			background-color: darken( $background, 10% );
			border-color: darken( $border, 10% );
		}
		&:active {
			color: darken( $color, 5%);
			background-color: darken( $background, 10% );
			border-color: darken( $border, 10% );
		}
	}
}

@mixin hi-light( $background ) {
	@if( $style == light ) {
		background-color: darken( $background, 10% );
	}
	@else {
		background-color: lighten( $background, 5% );
	}
}

@mixin arrow( $size, $color, $rounded ) {
	@if( $rounded ) {
		top: $select-arrow-size;
		border: $size solid $color;
		border-radius: 50%;	
	}
	@else {
		top: $select-arrow-size - 1;
		border-right: $size solid transparent;
		border-left: $size solid transparent;
		border-top: $size solid $color;
	}
}