.#{$pluginName} {
	@at-root input[type='email']#{&} { @include base-element( false ); }
	@at-root input[type='tel']#{&} { @include base-element( false ); }
	@at-root input[type='text']#{&} { @include base-element( false ); }
	@at-root input[type='url']#{&} { @include base-element( false ); }
	@at-root :not(.jq-password)>input[type='password']#{&} { @include base-element( false ); }
	
	@at-root input[type='search']#{&} 
	{ 
		@include base-element( false ); 
		
		-webkit-appearance: none;
	}
	
	@at-root textarea#{&} {
		@include base-element( false );	
		
		overflow: auto;
	}

	@at-root a.button#{&} { @include base-element( true ); }
	@at-root button#{&}  { @include base-element( true ); }
	@at-root input[type='button']#{&} { @include base-element( true ); }
	@at-root input[type='submit']#{&} { @include base-element( true ); }
	@at-root input[type='reset']#{&} { @include base-element( true ); }
}

input[type='email'].#{$pluginName},
input[type='search'].#{$pluginName},
input[type='tel'].#{$pluginName},
input[type='text'].#{$pluginName},
input[type='url'].#{$pluginName},
:not(.jq-password)>input[type='password'].#{$pluginName},
textarea.#{$pluginName} {
	padding: 8px 9px;
}

a.button.#{$pluginName},
button.#{$pluginName},
input[type='button'].#{$pluginName},
input[type='submit'].#{$pluginName},
input[type='reset'].#{$pluginName} {
	overflow: visible;
	padding: 8px 11px;
	cursor: pointer;
	
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}