
input[type='email'].#{$pluginName},
input[type='search'].#{$pluginName},
input[type='tel'].#{$pluginName},
input[type='text'].#{$pluginName},
input[type='url'].#{$pluginName},
:not(.jq-password)>input[type='password'].#{$pluginName},
textarea.#{$pluginName} {
	padding: 8px 9px;
	border: $border;
	border-bottom-color: #B3B3B3;
	border-radius: $border-radius;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	color: #333;

	&:not([disabled]):hover {
		border-color: $border-color-hover;
	}

	&:not([disabled]):focus {
		border-color: $border-color-focus;
		outline: none;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}
}

input[type='search'].#{$pluginName} {
	-webkit-appearance: none;
}

textarea.#{$pluginName} {
	overflow: auto;
}

a.button.#{$pluginName},
button.#{$pluginName},
input[type='button'].#{$pluginName},
input[type='submit'].#{$pluginName},
input[type='reset'].#{$pluginName} {
	overflow: visible;
	padding: 8px 11px;
	border: $border;
	border-bottom-color: #B3B3B3;
	border-radius: $border-radius;
	outline: none;
	background: $background-gradient;
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	color: $color;
	text-shadow: 1px 1px #FFF;
	text-decoration: none;
	cursor: pointer;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	&:not([disabled]):hover {
		border-color: $border-color-hover;
		background: $background-gradient-hover;
	}

	&:not([disabled]):active {
		background: $background-gradient-active;
		box-shadow: inset 1px 1px 3px #DDD;
	}
	
	&:not([disabled]):focus {
		border-color: $border-color-focus;
	}

	&[disabled] {
		border-color: $border-color-disabled;
		background: $background-disabled;
		box-shadow: none;
		color: $color-disabled;
	}
}