
input[type='email'].#{$pluginName},
input[type='search'].#{$pluginName},
input[type='tel'].#{$pluginName},
input[type='text'].#{$pluginName},
input[type='url'].#{$pluginName},
:not(.jq-password)>input[type='password'].#{$pluginName},
textarea.#{$pluginName} {
	@include base-element( false );	
	
	padding: 8px 9px;
	border: $border;
	border-bottom-color: #B3B3B3;
	border-radius: $border-radius;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	color: #333;

	&:not([disabled]):hover {
		border: $border-hover;
	}

	&:not([disabled]):focus {
		border: $border-focus;
		outline: none;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}
}

input[type='search'].#{$pluginName} {
	-webkit-appearance: none;
}

textarea.#{$pluginName} {
	overflow: auto;
}

a.button.#{$pluginName},
button.#{$pluginName},
input[type='button'].#{$pluginName},
input[type='submit'].#{$pluginName},
input[type='reset'].#{$pluginName} {
	@include base-element( true );	
	
	overflow: visible;
	padding: 8px 11px;
	text-decoration: none;
	cursor: pointer;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	&[disabled] {
		border: $border-disabled;
		background: $background-button-disabled;
		box-shadow: none;
		color: $color-disabled;
	}
}