.jq-password {
	@include base-element( );	
	
	input {
		background: $background;
		
		&:not([disabled]):not(.disabled):hover {
			background: $background-hover;
		}

		&:not([disabled]):not(.disabled):active {
			background: $background-active;
		}
		
		&:not([disabled]):not(.disabled):focus {
			background: $background-focus;
		}
	}
	
	.jq-password__switch {
		color: $color;
	}

	&.disabled {
		input[type='password'],
		input[type='text'] {
			background: $background-disabled;
			color: $color-disabled;
		}
	}
}