
.jq-radio {
	@include base-element( false );
	
	border-radius: $radio-radius;
	/*box-shadow: 0 1px 1px rgba(0,0,0,.05), 
				inset -1px -1px #FFF, 
				inset 1px -1px #FFF;*/

	&.checked .jq-radio__div {
		border-radius: $radio-radius-checked;
		background: $radio-checkbox-checked-bg;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,.7);
	}
}