
.#{$prefix}radio {
	border: 1px solid #C3C3C3;
	border-radius: 50%;
	background: #F5F5F5;
	box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
}

.#{$prefix}radio:not(.disabled):hover {
	border-color: gray;
}

.#{$prefix}radio.checked .#{$prefix}radio__div {
	border-radius: 50%;
	background: black;
}

.#{$prefix}radio.focused {
	border: 1px solid gray;
}