
.jq-selectbox__select {
	height: 32px;
	padding: 0 45px 0 10px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #F5F5F5;
	font-size: 14px/32px;
	color: #333;
}

.jq-selectbox__select:hover {
	background: #E6E6E6;
}

.jq-selectbox__select:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}

.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid gray;
}

.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}

.jq-selectbox .placeholder {
	color: #888;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top-color: #000;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}

.jq-selectbox__dropdown {
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	font-size: 14px/18px;
}

.jq-selectbox__trigger {
	border-left: 1px solid #CCC;
}

.jq-selectbox__trigger-arrow {
	border-top: 5px solid #999;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.jq-selectbox__search input {
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
}

.jq-selectbox__not-found {
	background: #F0F0F0;
}

.jq-selectbox li {
	color: #231F20;
}

.jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}

.jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}

.jq-selectbox li.disabled {
	color: #AAA;
}

.jq-selectbox li.disabled:hover {
	background: none;
}

.jq-selectbox li.optgroup {
	font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}