$pluginName: '%pluginName%';
$prefix: '%classPrefix%';

$color: #333;
$color-disabled: #888;

$background: #FFF;
$background-hover: #FFF;
$background-active: #FFF;
$background-disabled: #F5F5F5;
$background-gradient: #F5F5F5;
$background-gradient-hover: #E6E6E6;
$background-gradient-active: #F5F5F5;

$border-radius: 4px;
$border: 1px solid #C3C3C3;
$border-top: $border;
$border-bottom: 1px solid #B3B3B3;
$border-color-hover: gray;
$border-color-focus: #08C;
$border-color-disabled: #CCC;

$radio-radius: 50%;
$radio-radius-checked: 50%;
$checkbox-radius: 3px;
$checkbox-radius-checked: 2px;
$radio-checkbox-checked-bg: #666;

$select-arrow-size: 5px;
$select-arrow-color: #999;
$select-arrow-color-hover: #000;
$select-arrow-rounded: false;
$select-item-active-background: #08C;
$select-item-active-color: #FFF;
$select-item-hover-background: lighten($select-item-active-background, 10%);
$select-item-hover-color: #FFF;

/* */

@import '../_mixins';

/* checkbox */

@import '../_checkbox';

/* radio */

@import '../_radio';

/* file */

@import '../_file';

/* number */

@import '../_number';

/* password */

@import '../_password';

/* selectbox */

@import '../_selectbox';

/* selectbox-multi */

@import '../_selectbox-multi';

/* other */

@import '../_other';