
.jq-checkbox {
	top: -1px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin: 0 4px 0 0;
	cursor: pointer;
	user-select: none;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.jq-checkbox.checked .jq-checkbox__div {
	width: 12px;
	height: 12px;
	margin: 2px 0 0 2px;
}

.jq-checkbox.indeterminate .jq-checkbox__div {
	width: 12px;
	height: 4px;
	margin: 6px 0 0 2px;
}

.jq-checkbox.focused {

}

.jq-checkbox.disabled {
	opacity: .55;
}