
.jq-file {
	width: 270px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	.jq-file input {
		height: auto;
		line-height: 1em;
		cursor: pointer;
	}

	.jq-file__name {
		overflow: hidden;
		box-sizing: border-box;
		width: 100%;
		/*height: 34px;*/
		padding: 0 80px 0 10px;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 8px 9px;
	}

	.jq-file__browse {
		position: absolute;
		top: 1px;
		right: 1px;
		padding: 8px 10px;
		/*font: 14px/32px Arial, sans-serif;*/
	}
}