
.jq-password {
	position: relative;
	display: inline-block;
	
	input[type='password'],
	input[type='text'] {
		border: none;
		outline: none;
		padding: 8px 9px;
		width: auto;
		
		&:focus,
		&:active {
			outline: none;
			border: none;
		}
	}

	.jq-password__switch {
		display: inline-block;
		cursor: pointer;
		user-select: none;
		line-height: 0.8em;
		padding: 1px;
		
		&.jq-password__switch-text {
			padding-right: 5px;
		}
		
		button {
			padding: 7px 9px;
		}
	}
}