
.jq-radio {
	top: -1px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin: 0 4px 0 0;
	cursor: pointer;
	user-select: none;
	display: inline-block;
	position: relative;
}

.jq-radio.checked .jq-radio__div {
	width: 10px;
	height: 10px;
	margin: 3px 0 0 3px;
}

.jq-radio.focused {

}

.jq-radio.disabled {
	opacity: .55;
	cursor: default;
}
