
.jq-selectbox {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;

	ul {
		margin: 0;
		padding: 0;
		position: relative;
		list-style: none;
		overflow-y: auto;
		overflow-x: hidden;
	}

	li {
		min-height: 18px;
		padding: 5px 10px 6px;
		user-select: none;
		white-space: nowrap;
	}

	li.optgroup:hover {
		cursor: default;
	}

	li.option {
		padding-left: 25px;
	}
	
	.jq-selectbox__select {
		position: relative;
		padding: 5px 45px 5px 10px;

		.jq-selectbox__select-text {
			display: block;
			overflow: hidden;
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			user-select: none;
		}
	}

	.jq-selectbox__trigger {
		position: absolute;
		top: 0;
		right: 0;
		width: 34px;
		height: 100%;
		text-align: center;

		.jq-selectbox__trigger-arrow {
			position: relative;
			display: inline-block;
		}
	}

	.jq-selectbox__dropdown {
		z-index: 1;
		position: relative;
		box-sizing: border-box;
		width: 100%;
		margin: 2px 0 0;
		padding: 0;
		list-style: none; 
		overflow: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	
	&.dropup.opened .jq-selectbox__dropdown {
		height: auto;
		top: auto;
		bottom: 100%;
		margin-bottom: 2px;
	}

	&.dropdown.opened .jq-selectbox__dropdown {
		height: auto;
		bottom: auto;
	}

	.jq-selectbox__search {
		margin: 5px;
		
		input {
			box-sizing: border-box;
			width: 100%;
			margin: 0;
			padding: 5px 27px 6px 8px;
			outline: none;
			-webkit-appearance: textfield;
		}

		input::-webkit-search-cancel-button,
		input::-webkit-search-decoration {
			-webkit-appearance: none;
		}
	}

	.jq-selectbox__not-found {
		margin: 5px;
		padding: 5px 8px 6px;
		user-select: none;
	}
}