
.#{$prefix}selectbox {
	vertical-align: middle;
	cursor: pointer;
}

.#{$prefix}selectbox__select {
	height: 32px;
	padding: 0 45px 0 10px;
}

.#{$prefix}selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.#{$prefix}selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}

.#{$prefix}selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
}

.#{$prefix}selectbox__dropdown {
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
}

.#{$prefix}selectbox__search {
	margin: 5px;
}

.#{$prefix}selectbox__search input {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	outline: none;
	-webkit-appearance: textfield;
}

.#{$prefix}selectbox__search input::-webkit-search-cancel-button,
.#{$prefix}selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.#{$prefix}selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	font-size: 13px;
}

.#{$prefix}selectbox ul {
	margin: 0;
	padding: 0;
}

.#{$prefix}selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	user-select: none;
	white-space: nowrap;
}

.#{$prefix}selectbox li.optgroup:hover {
	cursor: default;
}

.#{$prefix}selectbox li.option {
	padding-left: 25px;
}