
.jq-selectbox {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}

.jq-selectbox__select {
	position: relative;
	height: 1em;
	padding: 5px 45px 5px 10px;
}

.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
	text-align: center;
}

.jq-selectbox__trigger-arrow {
	position: relative;
	display: inline-block;
}

.jq-selectbox__dropdown {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	list-style: none; 
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.jq-selectbox__search {
	margin: 5px;
}

.jq-selectbox__search input {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	outline: none;
	-webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
}

.jq-selectbox ul {
	margin: 0;
	padding: 0;
}

.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	user-select: none;
	white-space: nowrap;
}

.jq-selectbox li.optgroup:hover {
	cursor: default;
}

.jq-selectbox li.option {
	padding-left: 25px;
}